extends ../layouts/hero

block variables
  - var title = "Главная"
  - var pageClass = ''
  - var activePage = 'index'

block content
  section.section-one
    // hero
    .block.content_hero
      <svg class="svg">
      <clipPath id="mask-hero" clipPathUnits="objectBoundingBox"><path d="M0.535,1 C0.258,0.946,0.035,0.769,0.035,0.631 V0.231 C0.035,0.097,0.111,0.009,0.535,0.009 C0.96,0.009,1,0.097,1,0.231 V0.631 C1,0.769,0.813,0.946,0.535,1"></path></clipPath>
      </svg>
      .block--wrapper
        .block--image
          .block--image-container
            video(src='./assets/video/1.mp4' playsinline muted loop autoplay poster='./assets/img/hero/hero-preview.jpg' type="video/mp4")
        .block--content
          .hero--title
            h1 сила научной экспертизы
          //.hero--actions
          //  a(href='https://www.nutriclub.ru/products_filter_taxonomy/nutrilon/').button.button-filled.button-accent
          //    span Смотреть все продукты
          .hero--image
            picture
              source(media="(min-width: 768px)" srcset='./assets/img/hero/hero.png')
              img(src='./assets/img/hero/hero-mob.png' alt='')


    // about
    .block.content_about
      .block--wrapper
        .block--image
          picture
            source(media="(min-width: 998px)" srcset='./assets/img/droplet.webp')
            img(src='./assets/img/droplet-mob.png' alt='')

        .block--content
          div.desk
            p Более 50 лет научных исследований позволили Nutricia
              sup(style='font-size:0.5em;') TM&nbsp
              |создать уникальное сочетание
              span(style='white-space: nowrap;') &nbspBIO-активных&nbsp
              | компонентов <br>для поддержки иммунитета и развития интеллекта малыша.
            b Nutrilon® 3. Ваша Жизнь, Наша Наука.
          .mob
            p 50 лет исследований<br>грудного молока
    //  animation
    .block.content_animation
      .block_animation-title
        h2 BIOTIK - инновационное сочетание&#32;
          b BIO&#8209;активных&#32;
          b компонентов, приближенных&#32;
          | по&nbsp;свойствам&#32;
          b к грудному молоку
      .image--circle-lens
        picture
          source(media="(min-width: 768px)" srcset='./assets/img/advantages/circular-lens.webp')
          img(src='./assets/img/advantages/circular-lens-mob.webp' )
      .image--big-flare
        picture
          source(media="(min-width: 998px)" srcset='./assets/img/advantages/big-flare.webp')
          img(src='/' )
      .image--blick
        img(src='./assets/img/advantages/halo.webp' )
      .block.content_advantages
        .image--lens
          picture
            source(media="(min-width: 768px)" srcset='./assets/img/advantages/lens.webp')
            img(src='/' )
        .image--flash
          picture
            source(media="(min-width: 998px)" srcset='./assets/img/advantages/flash.webp')
            img(src='/' )


        .block--content
          .image--helix
            picture
              source(media="(min-width: 768px)" srcset='./assets/img/advantages/helix.webp')
              img(src='./assets/img/advantages/helix-mob.png' )
          .block--image
            img(src='./assets/img/advantages/shield-png.webp' )
          .advantages
            .item
              .item--image
                img(src='./assets/img/advantages-png/milk-drop.png' )
              .item--content
                .item--title Высокий&nbsp;уровень<br>молочного жира
            .item
              .item--image
                img(src='./assets/img/advantages-png/yellow.png' )
              .item--content
                .item--title Олигосахарид&nbsp;грудного<br>молока 3'-GL
            .item
              .item--image
                img(src='./assets/img/advantages-png/red.png' )
              .item--content
                .item--title Уникальные&nbsp;пребиотики<br>GOS/FOS (9:1)
            .item
              .item--image
                img(src='./assets/img/advantages-png/red-pearl.png' )
              .item--content
                .item--title Жирные&nbsp;кислоты<br>DHA/EPA


      .block.content_advantages-1
        .block--wrapper
          .advantages
            .advantages--image
              img(src='./assets/img/advantages-1/duo.png' alt='')
            .advantages--content
              .item
                .item--image
                  img(src='./assets/img/advantages-png/yellow.png' )
                .item--content
                  .item--title Двойная поддержка иммунитета<br>и микробиоты кишечника
                  .item--subtitle Уникальный микс пребиотических олигосахаридов с 3’-GL, идентичным грудному  молоку
              .item
                .item--image
                  img(src='./assets/img/advantages-png/red.png' )
                .item--content
                  .item--title Легкое переваривание <br>и до 8 раз снижение колик
                  .item--subtitle Запатентованная технология ферментации Lactofidus®<br>Уникальные пребиотики GOS/FOS (9:1)
              .item
                .item--image
                  img(src='./assets/img/advantages-png/red-pearl.png' )
                .item--content
                  .item--title Развитие интеллекта
                  .item--subtitle Высокий уровень жирных кислот DHA/EPA
              .item
                .item--image
                  img(src='./assets/img/advantages-png/milk-drop.png' )
                .item--content
                  .item--title Улучшенная переносимость<br>и сливочный вкус
                  .item--subtitle Высокий уровень молочного жира
              .advantages--note.advantages--note-mob
                .advantages--note_item
                  .advantages--note-icon.advantages--note-icon-1
                  span Без пальмового масла
                .advantages--note_item
                  .advantages--note-icon.advantages--note-icon-2
                  span Витамины
                .advantages--note_item
                  .advantages--note-icon.advantages--note-icon-3
                  span Микроэлементы

            .advantages--note
              .advantages--note_item
                span Без пальмового масла
                .advantages--note-icon.advantages--note-icon-1
              .advantages--note_item
                span Витамины
                .advantages--note-icon.advantages--note-icon-2
              .advantages--note_item
                span Микроэлементы
                .advantages--note-icon.advantages--note-icon-3

          //.button.button-filled.button-secondary(data-openpopup='popup_advantages')
          //  span Больше о составе
    .block.content_advantages-2
      .block--wrapper
        .advantages
          .advantages--content
            .item
              .item--content
                .item--title Подтвержденный эффект<br> на иммунитет и борьба<br>с инфекциями
                .item--subtitle Олигосахариды GOS/FOS,<br> действующие подобно<br>пребиотикам грудного молока
              .item--image
                img(src='./assets/img/advantages-png/blue-pearl.png' )
            .item
              .item--content
                .item--title Развитие интеллекта
                .item--subtitle Высокий уровень жирных <br>кислот DHA
              .item--image
                img(src='./assets/img/advantages-png/orange-pearl.png' )
            .item
              .item--content
                .item--title Легкое усвоение и<br>хорошее пищеварение
              .item--image
                img(src='./assets/img/advantages-png/beige-pearl.png' )
            .advantages--note.advantages--note-mob
              .advantages--note_item
                .advantages--note-icon.advantages--note-icon-1
                span Без пальмового масла
              .advantages--note_item
                .advantages--note-icon.advantages--note-icon-2
                span Витамины
              .advantages--note_item
                .advantages--note-icon.advantages--note-icon-3
                span Микроэлементы
          .advantages--image
            img(src='./assets/img/advantages-2/product.png' alt='')
          .advantages--note
            .advantages--note_item
              span Без пальмового масла
              .advantages--note-icon.advantages--note-icon-1
            .advantages--note_item
              span Витамины
              .advantages--note-icon.advantages--note-icon-2
            .advantages--note_item
              span Микроэлементы
              .advantages--note-icon.advantages--note-icon-3

        //.button.button-filled.button-secondary(data-openpopup='popup_advantages')
        //  span Больше о составе
    // why
    .block.content_why
      .block--wrapper
        .block--head.-center
          .block--head_title
            h3 Почему Nutrilon® 3,4
        .block--elements

          .item
            .item--title Рекомендован<br> педиатрами*
            .item--image
              picture
                source(media="(min-width: 768px)" srcset='./assets/img/why/2.png')
                img(src='./assets/img/why/2-mob.png' alt='')
          .item
            .item--title Уникальное<br> соотношение   <br>BIO-активных <br>компонентов
            .item--image
              picture
                source(media="(min-width: 768px)" srcset='./assets/img/why/3.png')
                img(src='./assets/img/why/3-mob.png' alt='')
          .item
            .item--title Сила <br>научной<br> экспертизы
            .item--image
              picture
                source(media="(min-width: 768px)" srcset='./assets/img/why/1.png')
                img(src='./assets/img/why/1.png' alt='')
          .item
            .item--title Без <br> пальмового<br> масла
            .item--image
              picture
                source(media="(min-width: 768px)" srcset='./assets/img/why/4.png')
                img(src='./assets/img/why/4-mob.png' alt='')
          .item
            .item--title Бесплатная<br> экспертная<br> линия для<br> родителей
            .item--action
              a(href='/expert-team-page/').button.button-filled.button-secondary
                span Наши эксперты
            .item--image
              picture
                source(media="(min-width: 768px)" srcset='./assets/img/why/5.png')
                img(src='./assets/img/why/5-mob.png' alt='')

        .block--note
          span * IQVIA, Potential evaluation report across pediatricians, April’24
    // video
    .block.content_video
      .block--wrapper
        .video
          video(src='./assets/video/3.mp4' playsinline  loop poster='./assets/img/poster.jpg' type="video/mp4")
  section.section-two
    .block.content_products-line
      <svg class="svg">
      <clipPath id="product-mask" clipPathUnits="objectBoundingBox"><path d="M0,0.53 C0,0.702,0.279,0.922,0.628,1 C0.768,0.969,0.896,0.915,1,0.85 V0 L0.051,0 C0.012,0.042,-0.004 e-05,31.315,0,50.9445, V0.53"></path></clipPath>
      </svg>
      <svg class="svg">
      <clipPath id="product-mask-mob" clipPathUnits="objectBoundingBox"><path d="M0.003,0.528 C0.003,0.703,0.239,0.926,0.533,1 C0.739,0.95,0.916,0.823,1,0.693 V0.005 H0.042 C0.012,0.047,0.003,0.097,0.003,0.154 V0.528"></path></clipPath>
      </svg>
      <svg class="svg">
      <clipPath id="product-mask-dark-blue" clipPathUnits="objectBoundingBox"><path d="M0.531,1 C0.253,0.962,0.031,0.785,0.031,0.647 V0.247 C0.031,0.113,0.106,0.025,0.531,0.025 C0.955,0.025,1,0.113,1,0.247 V0.647 C1,0.785,0.808,0.962,0.531,1"></path></clipPath>
      </svg>

      .block--wrapper
        .block--head.-center
          .block--head_title
            h3 У нас есть экспертное&nbsp;решение для каждой истории кормления
        .block--elements
          a(href='/products_filter_taxonomy/mix+nutrilon+healthy/').item.-c-dark-blue
            .item--content
              .item--title
                p Поддержка<br> иммунитета,<br>развитие<br> интеллекта
            .item--image
              .item--image-mask
                img(src='./assets/img/product-line/dark-blue.png' alt='')
          a(href='/products_filter_taxonomy/mix+nutrilon+digestive-discomfort/').item.-c-blue
            .item--content
              .item--title
                p Устранение<br>колик, запоров<br>и срыгиваний
            .item--image
              .item--image-mask
                img(src='./assets/img/product-line/blue.png' alt='')
          a(href='/products_filter_taxonomy/mix+nutrilon+prone-to-allergies/').item.-c-purple
            .item--content
              .item--title
                p Облегчение <br>симптомов <br>аллергии
            .item--image
              .item--image-mask
                img(src='./assets/img/product-line/purple.png' alt='')
          a(href='/products_filter_taxonomy/mix+nutrilon+low-birth-weight-and-premature-babies/').item.-c-green
            .item--content
              .item--title
                p Питание для<br>недоношенных<br>малышей
            .item--image
              .item--image-mask
                img(src='./assets/img/product-line/green.png' alt='')
          a(href='/products_filter_taxonomy/porridge+nutrilon/').item.-c-yellow
            .item--content
              .item--title
                p Натуральные<br>детские каши
            .item--image
              .item--image-mask
                img(src='./assets/img/product-line/yellow.png' alt='')


    // products
    #products(class="block content_products")
      .block--wrapper
        .block--head
          div(class="block--head_title")
            h3 Наши продукты
        .block--filter
          .button.button-filled.button-secondary(data-openpopup="popup_for_filters")
            span.icon-filter
            span Фильтр
          .item.js-tabs
            .item--title
              p Тип
            .item--list
              button.button(data-type='')
                span Все
              button.button(data-type="mix")
                span Смесь
              button.button(data-type="porridge")
                span Каша
          .item.js-tabs
            .item--title
              p Возраст
            .item--list
              button.button(data-age='')
                span Все
              button.button(data-age="0")
                span 0+
              button.button(data-age="6")
                span 6+
              button.button(data-age="12")
                span 12+
              button.button(data-age="18")
                span 18+
              button.button(data-age="first")
                span Первая ложка
        .block--elements
          a.item(href="/nutribiotik_3-600/", data-type="mix", data-age="12")
            .item--image
              img(class="item__image_slide", src="./assets/img/products/smes_premium.jpg", alt='')
              img(class="item__image_slide", src="./assets/img/products/smes_pre_nutribiotik1.jpg", alt='')
              img(class="item__image_slide", src="./assets/img/products/smes_pre_nutribiotik2.jpg", alt='')
              img(class="item__image_slide", src="./assets/img/products/smes_pre_nutribiotik3.jpg", alt='')
              img(class="item__image_slide", src="./assets/img/products/smes_pre_nutribiotik4.jpg", alt='')
            .item--content
              .item--stars
              .item--title
                h4 Nutrilon® Premium Nutribiotik&nbsp;3
              .item--subtitle
                span 600 г,
                span с 12 мес
          a.item(href="/nutribiotik_3-1200/", data-type="mix", data-age="12")
            .item--image
              img(class="item__image_slide", src="./assets/img/products/smes_12nutri.jpg", alt='')
              img(class="item__image_slide", src="./assets/img/products/smes_pre_nutribiotik1.jpg", alt='')
              img(class="item__image_slide", src="./assets/img/products/smes_pre_nutribiotik2.jpg", alt='')
              img(class="item__image_slide", src="./assets/img/products/smes_pre_nutribiotik3.jpg", alt='')
              img(class="item__image_slide", src="./assets/img/products/smes_pre_nutribiotik4.jpg", alt='')
            .item--content
              .item--stars
              .item--title
                h4 Nutrilon® Premium Nutribiotik&nbsp;3
              .item--subtitle
                span 1200 г,
                span с 12 мес
          a.item(href="/nutribiotik_4-600/", data-type="mix", data-age="18")
            .item--image
              img(class="item__image_slide", src="./assets/img/products/nutrilon_pre_4_600.jpg", alt='')
              img(class="item__image_slide", src="./assets/img/products/smes_pre_nutribiotik1.jpg", alt='')
              img(class="item__image_slide", src="./assets/img/products/smes_pre_nutribiotik2.jpg", alt='')
              img(class="item__image_slide", src="./assets/img/products/smes_pre_nutribiotik3.jpg", alt='')
              img(class="item__image_slide", src="./assets/img/products/smes_pre_nutribiotik4.jpg", alt='')
            .item--content
              .item--stars
              .item--title
                h4 Nutrilon® Premium Nutribiotik&nbsp;4
              .item--subtitle
                span 600 г,
                span с 18 мес
          a.item(href="/nutribiotik_4-1200/", data-type="mix", data-age="18")
            .item--image
              img(class="item__image_slide", src="./assets/img/products/smes_pre_nutri.jpg", alt='')
              img(class="item__image_slide", src="./assets/img/products/smes_pre_nutribiotik1.jpg", alt='')
              img(class="item__image_slide", src="./assets/img/products/smes_pre_nutribiotik2.jpg", alt='')
              img(class="item__image_slide", src="./assets/img/products/smes_pre_nutribiotik3.jpg", alt='')
              img(class="item__image_slide", src="./assets/img/products/smes_pre_nutribiotik4.jpg", alt='')
            .item--content
              .item--stars
              .item--title
                h4 Nutrilon® Premium Nutribiotik&nbsp;4
              .item--subtitle
                span 1200 г,
                span с 18 мес
            // hidden
          a.item(href="/duobiotik-3-800/", data-type="mix", data-age="12")
            .item--image
              img(class="item__image_slide", src="./assets/img/products/smes_fut.jpg", alt='')
              img(class="item__image_slide", src="./assets/img/products/smes_pro1.jpg", alt='')
              img(class="item__image_slide", src="./assets/img/products/smes_pro2.jpg", alt='')
              img(class="item__image_slide", src="./assets/img/products/smes_pro4.jpg", alt='')
            .item--content
              .item--stars
              .item--title
                h4 Nutrilon® Profutura® Duobiotik&nbsp;3
              .item--subtitle
                span 800 г,
                span с 12 мес
          a.item(href="/nutrilon-multigrain-milk-porridge-apple-banana-200/", data-type="porridge", data-age="6")
            .item--image
              img(class="item__image_slide", src="./assets/img/products/kasha_mult.jpg", alt='')
              img(class="item__image_slide", src="./assets/img/products/kasha_mult1.jpg", alt='')
              img(class="item__image_slide", src="./assets/img/products/kasha_mult2.jpg", alt='')
            .item--content
              .item--stars
              .item--title
                h4 Nutrilon® Молочная Мультизлаковая Каша
              .item--subtitle
                span 200 г,
                span с 6 мес



          a.item(href="/multigrain/", data-type="porridge", data-age="6")
            .item--image
              img(class="item__image_slide", src="./assets/img/products/kasha_bezmol_mult.jpg", alt='')
              img(class="item__image_slide", src="./assets/img/products/kasha_bezmol_mult1.jpg", alt='')
              img(class="item__image_slide", src="./assets/img/products/kasha_bezmol_mult2.jpg", alt='')
            .item--content
              .item--stars
              .item--title
                h4 Nutrilon® Безмолочная Мультизлаковая Каша
              .item--subtitle
                span 180 г,
                span с 6 мес


          a.item(href="/duobiotik-2-800/", data-type="mix", data-age="6")
            .item--image
              img(class="item__image_slide", src="./assets/img/products/smes_pro.jpg", alt='')
              img(class="item__image_slide", src="./assets/img/products/smes_pro1.jpg", alt='')
              img(class="item__image_slide", src="./assets/img/products/smes_pro2.jpg", alt='')
              img(class="item__image_slide", src="./assets/img/products/smes_pro4.jpg", alt='')
            .item--content
              .item--stars
              .item--title
                h4 Nutrilon® Profutura® Duobiotik&nbsp;2
              .item--subtitle
                span 800 г,
                span с 6 мес
          a.item(href="/nutrilon-milk-rice-porridge-200/", data-type="porridge", data-age="6")
            .item--image
              img(class="item__image_slide", src="./assets/img/products/nutri_porr_ris.jpg", alt='')
              img(class="item__image_slide", src="./assets/img/products/nutri_porr_ris3.jpg", alt='')
              img(class="item__image_slide", src="./assets/img/products/nutri_porr_ris8.jpg", alt='')
            .item--content
              .item--stars
              .item--title
                h4 Nutrilon® Молочная Рисовая Каша
              .item--subtitle
                span 180 г,
                span с 6 мес
          a.item(href="/nutrilon-buckwheat-milk-porridge-200/", data-type="porridge", data-age="6")
            .item--image
              img(class="item__image_slide", src="./assets/img/products/por_grech.jpg", alt='')
              img(class="item__image_slide", src="./assets/img/products/por_grech1.jpg", alt='')
              img(class="item__image_slide", src="./assets/img/products/por_grech2.jpg", alt='')
            .item--content
              .item--stars
              .item--title
                h4 Nutrilon® Молочная Гречневая Каша
              .item--subtitle
                span 200 г,
                span с 6 мес
          a.item(href="/nutrilon-pepti-allergy-800/", data-type="mix", data-age="")
            .item--image
              img(class="item__image_slide", src="./assets/img/products/smes_pepti_al.jpg", alt='')
              img(class="item__image_slide", src="./assets/img/products/smes_pepti_al1.jpg", alt='')
              img(class="item__image_slide", src="./assets/img/products/smes_pepti_al2.jpg", alt='')
              img(class="item__image_slide", src="./assets/img/products/smes_pepti_al3.jpg", alt='')
            .item--content
              .item--stars
              .item--title
                h4 Nutrilon® Пепти Аллергия
              .item--subtitle
                span 800 г,
                span Первая ложка

          a.item(href="/duobiotik-1-800/", data-type="mix", data-age="0")
            .item--image
              img(class="item__image_slide", src="./assets/img/products/smes_prof.jpg", alt='')
              img(class="item__image_slide", src="./assets/img/products/smes_pro1.jpg", alt='')
              img(class="item__image_slide", src="./assets/img/products/smes_pro2.jpg", alt='')
              img(class="item__image_slide", src="./assets/img/products/smes_pro4.jpg", alt='')
            .item--content
              .item--stars
              .item--title
                h4 Nutrilon® Profutura® Duobiotik&nbsp;1
              .item--subtitle
                span 800 г,
                span с 0 мес
          a.item(href="/nutribiotik_2-600/", data-type="mix", data-age="6")
            .item--image
              img(class="item__image_slide", src="./assets/img/products/smes_pre_nutribiotik.jpg", alt='')
              img(class="item__image_slide", src="./assets/img/products/smes_pre_nutribiotik1.jpg", alt='')
              img(class="item__image_slide", src="./assets/img/products/smes_pre_nutribiotik2.jpg", alt='')
              img(class="item__image_slide", src="./assets/img/products/smes_pre_nutribiotik3.jpg", alt='')
              img(class="item__image_slide", src="./assets/img/products/smes_pre_nutribiotik4.jpg", alt='')
            .item--content
              .item--stars
              .item--title
                h4 Nutrilon® Premium Nutribiotik&nbsp;2
              .item--subtitle
                span 600 г,
                span с 6 мес
          a.item(href="/nutribiotik_2-350/", data-type="mix", data-age="6")
            .item--image
              img(class="item__image_slide", src="./assets/img/products/smes_premium_2nutribiotik.jpg", alt='')
              img(class="item__image_slide", src="./assets/img/products/smes_pre_nutribiotik1.jpg", alt='')
              img(class="item__image_slide", src="./assets/img/products/smes_pre_nutribiotik2.jpg", alt='')
              img(class="item__image_slide", src="./assets/img/products/smes_pre_nutribiotik3.jpg", alt='')
              img(class="item__image_slide", src="./assets/img/products/smes_pre_nutribiotik4.jpg", alt='')
            .item--content
              .item--stars
              .item--title
                h4 Nutrilon® Premium Nutribiotik&nbsp;2
              .item--subtitle
                span 350 г,
                span с 6 мес
          a.item(href="/nutribiotik_2-1200/", data-type="mix", data-age="6")
            .item--image
              img(class="item__image_slide", src="./assets/img/products/smes_nutribiot_premium.jpg", alt='')
              img(class="item__image_slide", src="./assets/img/products/smes_pre_nutribiotik1.jpg", alt='')
              img(class="item__image_slide", src="./assets/img/products/smes_pre_nutribiotik2.jpg", alt='')
              img(class="item__image_slide", src="./assets/img/products/smes_pre_nutribiotik3.jpg", alt='')
              img(class="item__image_slide", src="./assets/img/products/smes_pre_nutribiotik4.jpg", alt='')
            .item--content
              .item--stars
              .item--title
                h4 Nutrilon® Premium Nutribiotik&nbsp;2
              .item--subtitle
                span 1200 г,
                span с 6 мес
          a.item(href="/nutribiotik_1-600/", data-type="mix", data-age="0")
            .item--image
              img(class="item__image_slide", src="./assets/img/products/nutrilon_smes_1premium.jpg", alt='')
              img(class="item__image_slide", src="./assets/img/products/smes_pre_nutribiotik1.jpg", alt='')
              img(class="item__image_slide", src="./assets/img/products/smes_pre_nutribiotik2.jpg", alt='')
              img(class="item__image_slide", src="./assets/img/products/smes_pre_nutribiotik3.jpg", alt='')
              img(class="item__image_slide", src="./assets/img/products/smes_pre_nutribiotik4.jpg", alt='')
            .item--content
              .item--stars
              .item--title
                h4 Nutrilon® Premium Nutribiotik&nbsp;1
              .item--subtitle
                span 600 г,
                span с 0 мес
          a.item(href="/nutribiotik_1-1200/", data-type="mix", data-age="0")
            .item--image
              img(class="item__image_slide", src="./assets/img/products/nutricia_smes_nutrilon_pre.jpg", alt='')
              img(class="item__image_slide", src="./assets/img/products/smes_pre_nutribiotik1.jpg", alt='')
              img(class="item__image_slide", src="./assets/img/products/smes_pre_nutribiotik2.jpg", alt='')
              img(class="item__image_slide", src="./assets/img/products/smes_pre_nutribiotik3.jpg", alt='')
              img(class="item__image_slide", src="./assets/img/products/smes_pre_nutribiotik4.jpg", alt='')
            .item--content
              .item--stars
              .item--title
                h4 Nutrilon® Premium Nutribiotik&nbsp;1
              .item--subtitle
                span 1200 г,
                span с 0 мес
          a.item(href="/nutribiotik_1-350/", data-type="mix", data-age="0")
            .item--image
              img(class="item__image_slide", src="./assets/img/products/smes_pre.jpg", alt='')
              img(class="item__image_slide", src="./assets/img/products/smes_pre_nutribiotik1.jpg", alt='')
              img(class="item__image_slide", src="./assets/img/products/smes_pre_nutribiotik2.jpg", alt='')
              img(class="item__image_slide", src="./assets/img/products/smes_pre_nutribiotik3.jpg", alt='')
              img(class="item__image_slide", src="./assets/img/products/smes_pre_nutribiotik4.jpg", alt='')
            .item--content
              .item--stars
              .item--title
                h4 Nutrilon® Premium Nutribiotik&nbsp;1
              .item--subtitle
                span 350 г,
                span с 0 мес
          a.item(href="/nutrilon-corn-milk-porridge-200/", data-type="porridge", data-age="6")
            .item--image
              img(class="item__image_slide", src="./assets/img/products/kasha_kuk.jpg", alt='')
              img(class="item__image_slide", src="./assets/img/products/kasha_kuk1.jpg", alt='')
              img(class="item__image_slide", src="./assets/img/products/kasha_kuk2.jpg", alt='')
            .item--content
              .item--stars
              .item--title
                h4 Nutrilon® Молочная Кукурузная Каша
              .item--subtitle
                span 200 г,
                span с 6 мес

          a.item(href="/nutrilon-rice-apple-banana-200-2/", data-type="porridge", data-age="6")
            .item--image
              img(class="item__image_slide", src="./assets/img/products/kasha_ris_banan.jpg", alt='')
              img(class="item__image_slide", src="./assets/img/products/kasha_ris_banan1.jpg", alt='')
              img(class="item__image_slide", src="./assets/img/products/kasha_ris_banan2.jpg", alt='')
            .item--content
              .item--stars
              .item--title
                h4 Nutrilon® Молочная Рисовая Каша
              .item--subtitle
                span 200 г,
                span с 6 мес
          a.item(href="/oatmeal/", data-type="porridge", data-age="")
            .item--image
              img(class="item__image_slide", src="./assets/img/products/kasha_ovs_bezmol.jpg", alt='')
              img(class="item__image_slide", src="./assets/img/products/kasha_ovs_bezmol1.jpg", alt='')
              img(class="item__image_slide", src="./assets/img/products/kasha_ovs_bezmol2.jpg", alt='')
            .item--content
              .item--stars
              .item--title
                h4 Nutrilon® Безмолочная Овсяная Каша
              .item--subtitle
                span 180 г,
                span Первая ложка
          a.item(href="/rice/", data-type="porridge", data-age="first")
            .item--image
              img(class="item__image_slide", src="./assets/img/products/kasha_ris_bezmol.jpg", alt='')
              img(class="item__image_slide", src="./assets/img/products/kasha_ris_bezmol1.jpg", alt='')
              img(class="item__image_slide", src="./assets/img/products/kasha_ris_bezmol2.jpg", alt='')
            .item--content
              .item--stars
              .item--title
                h4 Каша рисовая безмолочная Нутрилон
              .item--subtitle
                span 180 г,
                span Первая ложка
          a.item(href="/corn/", data-type="porridge", data-age="first")
            .item--image
              img(class="item__image_slide", src="./assets/img/products/kasha_kuk_bezmol.jpg", alt='')
              img(class="item__image_slide", src="./assets/img/products/kasha_kuk_bezmol1.jpg", alt='')
              img(class="item__image_slide", src="./assets/img/products/kasha_kuk_bezmol2.jpg", alt='')
            .item--content
              .item--stars
              .item--title
                h4 Nutrilon® Безмолочная Кукурузная Каша
              .item--subtitle
                span 180 г,
                span Первая ложка
          a.item(href="/buckwheat/", data-type="porridge", data-age="first")
            .item--image
              img(class="item__image_slide", src="./assets/img/products/kasha_grech_bezmol.jpg", alt='')
              img(class="item__image_slide", src="./assets/img/products/kasha_grech_bezmol1.jpg", alt='')
              img(class="item__image_slide", src="./assets/img/products/kasha_grech_bezmol2.jpg", alt='')
            .item--content
              .item--stars
              .item--title
                h4 Nutrilon® Безмолочная Гречневая Каша
              .item--subtitle
                span 180 г,
                span Первая ложка
          a.item(href="/nutrilon-pepti-gastro-800/", data-type="mix", data-age="")
            .item--image
              img(class="item__image_slide", src="./assets/img/products/smes.jpg", alt='')
              img(class="item__image_slide", src="./assets/img/products/smes1.jpg", alt='')
              img(class="item__image_slide", src="./assets/img/products/smes3.jpg", alt='')
            .item--content
              .item--stars
              .item--title
                h4 Nutrilon® Пепти Гастро
              .item--subtitle
                span 800 г,
                span Первая ложка

          a.item(href="/nutrilon-comfort-1-900/", data-type="mix", data-age="")
            .item--image
              img(class="item__image_slide", src="./assets/img/products/smes_komf.jpg", alt='')
              img(class="item__image_slide", src="./assets/img/products/smes_komf1.jpg", alt='')
              img(class="item__image_slide", src="./assets/img/products/smes_komf2.jpg", alt='')
              img(class="item__image_slide", src="./assets/img/products/smes_komf3.jpg", alt='')
              img(class="item__image_slide", src="./assets/img/products/smes_komf4.jpg", alt='')
            .item--content
              .item--stars
              .item--title
                h4 Nutrilon® Комфорт 1
              .item--subtitle
                span 900 г,
                span Первая ложка
          a.item(href="/nutrilon-ga-2-800/", data-type="mix", data-age="6")
            .item--image
              img(class="item__image_slide", src="./assets/img/products/smes_ga1.jpg", alt='')
            .item--content
              .item--stars
              .item--title
                h4 Nutrilon® ГА 2
              .item--subtitle
                span 800 г,
                span с 6 мес
          a.item(href="/nutrilon-ga-1-800/", data-type="mix", data-age="0")
            .item--image
              img(class="item__image_slide", src="./assets/img/products/smes_ga2.jpg", alt='')
            .item--content
              .item--stars
              .item--title
                h4 Nutrilon® ГА 1
              .item--subtitle
                span 800 г,
                span с 0 мес
          a.item(href="/nutrilon-comfort-1-400/", data-type="mix", data-age="0")
            .item--image
              img(class="item__image_slide", src="./assets/img/products/smes_nutri1_comfort.jpg", alt='')
              img(class="item__image_slide", src="./assets/img/products/smes_nutri1_comfort1.jpg", alt='')
              img(class="item__image_slide", src="./assets/img/products/smes_nutri1_comfort2.jpg", alt='')
              img(class="item__image_slide", src="./assets/img/products/smes_nutri1_comfort3.jpg", alt='')
              img(class="item__image_slide", src="./assets/img/products/smes_nutri1_comfort4.jpg", alt='')
            .item--content
              .item--stars
              .item--title
                h4 Nutrilon® Комфорт 1
              .item--subtitle
                span 400 г,
                span с 0 мес
          a.item(href="/nutrilon-syneo-400/", data-type="mix", data-age="0")
            .item--image
              img(class="item__image_slide", src="./assets/img/products/smes_amin.jpg", alt='')
              img(class="item__image_slide", src="./assets/img/products/smes_amin1.jpg", alt='')
              img(class="item__image_slide", src="./assets/img/products/smes_amin2.jpg", alt='')
              img(class="item__image_slide", src="./assets/img/products/smes_amin3.jpg", alt='')
            .item--content
              .item--stars
              .item--title
                h4 Nutrilon® Аминокислоты Syneo
              .item--subtitle
                span 400 г,
                span с 0 мес
          a.item(href="/nutrilon-pre-1-400/", data-type="mix", data-age="0")
            .item--image
              img(class="item__image_slide", src="./assets/img/products/smes_nutrilon_pre.jpg", alt='')
              img(class="item__image_slide", src="./assets/img/products/smes_nutrilon_pre4.jpg", alt='')
              img(class="item__image_slide", src="./assets/img/products/smes_nutrilon_pre5.jpg", alt='')
            .item--content
              .item--stars
              .item--title
                h4 Nutrilon® Pre 1
              .item--subtitle
                span 400 г,
                span с 0 мес
          a.item(href="/nutrilon-pre-0-400/", data-type="mix", data-age="0")
            .item--image
              img(class="item__image_slide", src="./assets/img/products/smes_nutrilon0_pre.jpg", alt='')
              img(class="item__image_slide", src="./assets/img/products/smes_nutrilon0_pre1.jpg", alt='')
              img(class="item__image_slide", src="./assets/img/products/smes_nutrilon0_pre2.jpg", alt='')
              img(class="item__image_slide", src="./assets/img/products/smes_nutrilon0_pre3.jpg", alt='')
            .item--content
              .item--stars
              .item--title
                h4 Nutrilon® Pre 0
              .item--subtitle
                span 400 г,
                span с 0 мес
          a.item(href="/nutrilon-pepti-gastro-450/", data-type="mix", data-age="0")
            .item--image
              img(class="item__image_slide", src="./assets/img/products/smes_pepti_gastro.jpg", alt='')
              img(class="item__image_slide", src="./assets/img/products/smes_pepti_gastro1.jpg", alt='')
              img(class="item__image_slide", src="./assets/img/products/smes_pepti_gastro2.jpg", alt='')
              img(class="item__image_slide", src="./assets/img/products/smes_pepti_gastro3.jpg", alt='')
            .item--content
              .item--stars
              .item--title
                h4 Nutrilon® Пепти Гастро
              .item--subtitle
                span 450 г,
                span с 0 мес
          a.item(href="/nutrilon-pepti-allergy-400/", data-type="mix", data-age="0")
            .item--image
              img(class="item__image_slide", src="./assets/img/products/smes_pepti_aler.jpg", alt='')
              img(class="item__image_slide", src="./assets/img/products/smes_pepti_aler1.jpg", alt='')
              img(class="item__image_slide", src="./assets/img/products/smes_pepti_aler2.jpg", alt='')
              img(class="item__image_slide", src="./assets/img/products/smes_pepti_aler3.jpg", alt='')
            .item--content
              .item--stars
              .item--title
                h4 Nutrilon® Пепти Аллергия
              .item--subtitle
                span 400 г,
                span с 0 мес
          a.item(href="/nutrilon-comfort-2-800/", data-type="mix", data-age="6")
            .item--image
              img(class="item__image_slide", src="./assets/img/products/smes_nutri_comfort.jpg", alt='')
              img(class="item__image_slide", src="./assets/img/products/smes_nutri_comfort1.jpg", alt='')
              img(class="item__image_slide", src="./assets/img/products/smes_nutri_comfort2.jpg", alt='')
              img(class="item__image_slide", src="./assets/img/products/smes_nutri_comfort3.jpg", alt='')
              img(class="item__image_slide", src="./assets/img/products/smes_nutri_comfort4.jpg", alt='')
            .item--content
              .item--stars
              .item--title
                h4 Nutrilon® Комфорт 2
              .item--subtitle
                span 800 г,
                span с 6 мес

          a.item(href="/nutrilon-acidified-2-350/", data-type="mix", data-age="6")
            .item--image
              img(class="item__image_slide", src="./assets/img/products/smes_kisl.jpg", alt='')
              img(class="item__image_slide", src="./assets/img/products/smes_kisl1.jpg", alt='')
              img(class="item__image_slide", src="./assets/img/products/smes_kisl2.jpg", alt='')
              img(class="item__image_slide", src="./assets/img/products/smes_kisl3.jpg", alt='')
              img(class="item__image_slide", src="./assets/img/products/smes_kisl4.jpg", alt='')
              img(class="item__image_slide", src="./assets/img/products/smes_kisl5.jpg", alt='')
            .item--content
              .item--stars
              .item--title
                h4 Nutrilon® Кисломолочный 2
              .item--subtitle
                span 350 г,
                span с 6 мес
          a.item(href="/nutrilon-acidified-1-350/", data-type="mix", data-age="0")
            .item--image
              img(class="item__image_slide", src="./assets/img/products/smes_1kisl.jpg", alt='')
              img(class="item__image_slide", src="./assets/img/products/smes_1kisl1.jpg", alt='')
              img(class="item__image_slide", src="./assets/img/products/smes_1kisl2.jpg", alt='')
              img(class="item__image_slide", src="./assets/img/products/smes_1kisl3.jpg", alt='')
              img(class="item__image_slide", src="./assets/img/products/smes_1kisl4.jpg", alt='')
              img(class="item__image_slide", src="./assets/img/products/smes_1kisl5.jpg", alt='')
            .item--content
              .item--stars
              .item--title
                h4 Nutrilon® Кисломолочный 1
              .item--subtitle
                span 350 г,
                span с 0 мес
          a.item(href="/nutrilon-ga-2-400/", data-type="mix", data-age="6")
            .item--image
              img(class="item__image_slide", src="./assets/img/products/smes_ga2_nutrilon.jpg", alt='')
            .item--content
              .item--stars
              .item--title
                h4 Nutrilon® ГА 2
              .item--subtitle
                span 400 г,
                span с 6 мес
          a.item(href="/nutrilon-ga-1-400/", data-type="mix", data-age="0")
            .item--image
              img(class="item__image_slide", src="./assets/img/products/smes_pronutri.jpg", alt='')
            .item--content
              .item--stars
              .item--title
                h4 Nutrilon® ГА 1
              .item--subtitle
                span 400 г,
                span с 0 мес
          a.item(href="/nutrilon-lactose-free-400/", data-type="mix", data-age="0")
            .item--image
              img(class="item__image_slide", src="./assets/img/products/smes_bezlak.jpg", alt='')
              img(class="item__image_slide", src="./assets/img/products/smes_bezlak1.jpg", alt='')
              img(class="item__image_slide", src="./assets/img/products/smes_bezlak2.jpg", alt='')
              img(class="item__image_slide", src="./assets/img/products/smes_bezlak3.jpg", alt='')
              img(class="item__image_slide", src="./assets/img/products/smes_bezlak4.jpg", alt='')
              img(class="item__image_slide", src="./assets/img/products/smes_bezlak5.jpg", alt='')
              img(class="item__image_slide", src="./assets/img/products/smes_bezlak6.jpg", alt='')
              img(class="item__image_slide", src="./assets/img/products/smes_bezlak7.jpg", alt='')
            .item--content
              .item--stars
              .item--title
                h4 Nutrilon® Безлактозный
              .item--subtitle
                span 400 г,
                span с 0 мес
          a.item(href="/nutrilon-anti-reflux-400/", data-type="mix", data-age="0")
            .item--image
              img(class="item__image_slide", src="./assets/img/products/smes_anti.jpg", alt='')
              img(class="item__image_slide", src="./assets/img/products/smes_anti1.jpg", alt='')
              img(class="item__image_slide", src="./assets/img/products/smes_anti2.jpg", alt='')
              img(class="item__image_slide", src="./assets/img/products/smes_anti3.jpg", alt='')
            .item--content
              .item--stars
              .item--title
                h4 Nutrilon® Антирефлюкс
              .item--subtitle
                span 400 г,
                span с 0 мес
          .block--pagination
            a.button.button-filled.button-secondary(href="https://www.nutriclub.ru/products_filter_taxonomy/nutrilon/")
              span Смотреть все продукты
        .block--not-found
          p По вашему запросу ничего не найдено Пожалуйста, измените параметры поиска
          .button--wrapper
            .button.button-filled.button-accent.js-reset
              span Сбросить параметры
            a.button.button-outlined.button-accent(href="https://www.nutriclub.ru/products_filter_taxonomy/nutrilon/")
              span Смотреть все продукты
        .block--note
          p Грудное молоко – лучшее питание для детей раннего возраста. Имеются противопоказания. <br>Необходима консультация специалиста.
  section.section-three
    // reviews
    .block.block_list-slider.content_rewiews
      .block--wrapper
        .block--head
          .block--head_title
            h3 Отзывы мам
        .block--elements
          .item
            .review.review-text
              .review--author
                //.review--author_image
                //  img(src='./assets/img/review.png' alt='')
                .review--author_name Ольга
                .review--author_text
                  .star-rate
                  span  1 месяц назад
              .review--content
                .is_cascade
                  p Прекрасная смесь, мы на ней с полугода (2 ступень), после года перешли на 3. Постепенно уходим от смешанного вскармливания, убираю кормления грудью, а смесь пока продолжаем, она сытная, приятная на вкус, с хорошим составом

          .item
            .review.review-text
              .review--author
                //.review--author_image
                //  img(src='./assets/img/review.png' alt='')
                .review--author_name Екатерина
                .review--author_text
                  .star-rate
                  span  2 месяца назад
              .review--content
                .is_cascade
                  p Когда выбирала смесь для своего ребенка, обращала внимание в первую очередь на проверенных производителей, которые давно на рынке, чья продукция проверена уже тысячами, если не миллионами мам и детей. Нутрилон — как раз такая марка. Остановила свой выбор на ней благодаря прекрасному составу и не пожалела о своем выборе. Смесь нам, мы уже месяц на ней и все отлично, ничего не беспокоит!
          .item
            .review.review-img
              .review--content
                img(src='./assets/img/reviews.jpg')

          .item
            .review.review-text
              .review--author
                //.review--author_image
                //  img(src='./assets/img/review.png' alt='')
                .review--author_name Наталья
                .review--author_text
                  .star-rate
                  span  неделю назад
              .review--content
                .is_cascade
                  p Хочу выразить благодарность фирме Нутрилон за то, что они делают все более полезные и все более приближенные к грудному молоку смеси. Я и прошлой версией была довольна, мы кушали ее с рождения и до 2 месяцев, потом перешли уже на новый вариант, проблем никаких не возникло, зато я еще больше уверена в том, что смесь действительно полезная, качественная и безопасная, полностью закрывает потребности ребенка в питательных веществах.
          .item
            .review.review-text
              .review--author
                //.review--author_image
                //  img(src='./assets/img/review.png' alt='')
                .review--author_name Светлана
                .review--author_text
                  .star-rate
                  span  1 месяц назад
              .review--content
                .is_cascade
                  p Отличная смесь! Мы перешли на ИВ недавно, так как молока у меня становилось все меньше, а прикорм пока кушаем совсем понемножку. Было много страхов и сомнений, но к счастью все они не оправдались, перевод на смесь прошел без проблем, ребенок хорошо кушает, стабильно набирает вес, никаких проблем (аллергии, боли в животике и т.д.) у нас не было и я уверена, что и не будет, сомнений в качестве смеси нет.
          .item
            .review.review-text
              .review--author
                //.review--author_image
                //  img(src='./assets/img/review.png' alt='')
                .review--author_name Юлия
                .review--author_text
                  .star-rate
                  span  1 месяц назад
              .review--content
                .is_cascade
                  p На Нутрилоне у меня был старший ребенок, я давно знаю эту марку, как качественную и надежную. С младшим были на ГВ, сейчас потихоньку завершаем и я постепенно заменяю кормления грудью на смесь. Выбрала снова Нутрилон и приятно удивилась, то поменялся состав в лучшую сторону, теперь смесь стала еще полезнее и безопаснее. Ребенку она нравится, никаких побочных эффектов не вызывает, меня устраивает на все 100, не страшно прощаться с ГВ)
          .item
            .review.review-text
              .review--author
                //.review--author_image
                //  img(src='./assets/img/review.png' alt='')
                .review--author_name Анна
                .review--author_text
                  .star-rate
                  span  2 недели назад
              .review--content
                .is_cascade
                  p Здорово, что у Нутрилона есть и 4-я ступень! Не у всех производителей она есть, а ведь деткам до 2 лет даже по ВОЗ рекомендуется либо сохранять ГВ, либо давать смесь, рано еще полностью на общий стол переводить! У этой смеси отличный состав, чтобы малыши ни в чем не нуждались в плане питательных веществ. И самое главное для меня как для мамы — что именно моему ребенку она отлично подходит, и он сам любит, нравится на вкус.

          .item
            .review.review-text
              .review--author
                //.review--author_image
                //  img(src='./assets/img/review.png' alt='')
                .review--author_name Татьяна
                .review--author_text
                  .star-rate
                  span  2 недели назад
              .review--content
                .is_cascade
                  p Старшего ребенка после года перевела на Нутрилон, младшего тоже собиралась, но увидела новинку - Дуобиотик. Понравился состав последнего поколения, эта смесь как по мне самая полноценная из всего, что можно найти в продаже. Ну и самое главное, что ребенку она идеально подошла, в туалет ходим как по часам, я очень довольна.
          .item
            .review.review-text
              .review--author
                //.review--author_image
                //  img(src='./assets/img/review.png' alt='')
                .review--author_name Анастасия
                .review--author_text
                  .star-rate
                  span  1 месяц назад
              .review--content
                .is_cascade
                  p Завершили ГВ мягко! У нас кормления были только на сон, я их потихоньку и заменила) Смесь выбрала за счет состава, он приближенный к грудному молоку. Дочке смесь нравится, побочек у нас вроде не было) Первые пару раз дочка правда поплакала, но потом успокоилась, грудь не требует)

    // FAQ
    .block.block_list.content_faq
      .block--wrapper
        .block--head.-center
          .block--head_title
            h3 Часто задаваемые вопросы
          .block--head_subtitle
            p Узнайте ответы на часто задаваемые вопросы или задайте свой
        .block--elements
          .accordion.is_open
            .accordion--button
              p.accordion--button_text Как Nutrilon® 3 поддерживает иммунную систему?
                span.icon
            .accordion--content
              .is_cascade
                p Nutrilon® 3 содержит уникальный микс олигосахаридов, который стимулирует рост и активность полезных бактерий, препятствует росту патогенной микробиоты, укрепляет кишечный барьер, предотвращая тем самым развитие инфекций.
                  <br>Также в состав Nutrilon® 3 входит сбалансированный комплекс микронутриентов — витаминов и минералов.
          .accordion
            .accordion--button
              p.accordion--button_text Как Nutrilon® 3 поддерживает когнитивное развитие?
                span.icon
            .accordion--content
              .is_cascade
                p В Nutrilon® 3 присутствует большое количество Омега-3 жирных кислот (DHA и EPA), которые являются структурными компонентами клеток головного мозга и органов зрения. В момент активного роста ребенка крайне важно, чтобы этот компонент был в питании малыша, обеспечивая полноценное когнитивное развитие и укрепление зрения.
          .accordion
            .accordion--button
              p.accordion--button_text В чем отличие Nutrilon® Profutura® Duobiotik 3 от Nutrilon® Premium Nutribiotik 3?
                span.icon
            .accordion--content
              .is_cascade
                p Ключевым отличием этих двух продуктов для поддержки иммунитета и развития интеллекта от Nutricia
                  sup(style='font-size:0.8rem;') TM&ensp;
                  | являются различия в жировом компоненте.
                p Nutrilon® Premium Nutribiotik 3 и Nutrilon® Profutura® Duobiotik 3 содержат большое количество Омега-3 жирных кислот (DHA и EPA) для дополнительной поддержки когнитивной функции и зрения. А формула Nutrilon® Profutura® Duobiotik 3 дополнительно обогащена высоким уровнем молочного жира, который приближает смесь по составу и эффектам к грудному молоку, обеспечивает легкое переваривание и приятный сливочный вкус.
          .accordion
            .accordion--button
              p.accordion--button_text Как правильно развести смесь Nutrilon® 3, чтобы не было пены?
                span.icon
            .accordion--content
              .is_cascade
                p При приготовлении смеси Nutrilon® 3 важно использовать теплую воду, при необходимости можно дать смеси постоять несколько минут. Для уменьшения пенообразования рекомендуем разводить питание, избегая сильного взбалтывания. Сухая смесь растворяется в воде, даже если Вы покачиваете бутылочку круговыми движениями. Можно подождать около 5 минут, за это время пена уменьшится.
          .accordion
            .accordion--button
              p.accordion--button_text Почему иногда кажется, что смесь пахнет рыбой?
                span.icon
            .accordion--content
              .is_cascade
                p Специфический запах обусловлен наличием жирных кислот в составе, источником которых является рыбий жир.
                p Органолептические свойства (запах, вкус и др.) смеси, степень их выраженности могут варьироваться в разных партиях, что не влияет на качество и безопасность питания.

    // contacts
    .block.content_contacts
      .block--wrapper
        .contacts
          .contacts--image
            img(src="./assets/img/contacts/contacts-image1.webp")
          .contacts--content
            .contacts--title
              h3 У вас остался вопрос по кормлению ребенка?
            .contacts--text
              p Если вам требуется помощь, наши эксперты всегда готовы поддержать вас и ответить на интересующие вопросы, связанные с беременностью, питанием, развитием ребёнка.
            .contacts--tel
              a(href="tel:88002003388" target="_blank")
                .icon-phone
                span 8 800 200 33 88
            .contacts--actions

              a(href='/contacts/').button.button-filled.button-accent
                span Задать вопрос
              a(href='/expert-team-page/').button.button-filled.button-primary
                span Узнать об экспертах




