
footer.footer
  .block--wrapper
    .footer--row
      .footer--col
        a(href='https://lk.horsekasport.ru/').footer--lk
          p Личный кабинет
          button.button.button-outlined.button-accent.button-dark(type="submit")
            span.icon-arrow-r
        .footer--soc
          .soc--title Социальные сети
          .soc--list
            .soc--link
              a(href="")
                .icon-ic-socials-vk
            .soc--link
              a(href="")
                .icon-ic-socials-viber
            .soc--link
              a(href="")
                .icon-ic-socials-youtube
      .footer--col
        nav.nav
          ul.nav--list
            li
              span.nav--list_title СОБЫТИЯ
            li
              a.nav--item(href="") Календарь
            li
              a.nav--item(href="") Серии турниров
            li
              a.nav--item(href="") Зрителям
          ul.nav--list
            li
              span.nav--list_title УСЛУГИ
            li
              a.nav--item(href="") Содержание
            li
              a.nav--item(href="") Ветеринария
            li
              a.nav--item(href="") Обучение верховой езде
            li
              a.nav--item(href="") Конные прогулки
            li
              a.nav--item(href="") Продажа лошадей
            li
              a.nav--item(href="") Разведение лошадей
          ul.nav--list
            li
              span.nav--list_title ИНФРАСТРУКТУРА
            li
              a.nav--item(href="") Коюшни
            li
              a.nav--item(href="") Гранд-манеж
            li
              a.nav--item(href="") Поля
            li
              a.nav--item(href="") Ресторан
          ul.nav--list
            li
              span.nav--list_title HORSEKA SPORT
            li
              a.nav--item(href="") О нас
            li
              a.nav--item(href="") Акции
            li
              a.nav--item(href="") Новости
            li
              a.nav--item(href="") Галерея
            li
              a.nav--item(href="") Отзывы
            li
              a.nav--item(href="") Контакты
            li
              a.nav--item(href="") Юридическая информация



    .footer--row.footer--row-bottom
      .footer--col
        .copyright
          | ©
          span#js-current_year  2024
          |, Horseka Все права защищены
      .footer--col
        .developer
          span Разработка
          a(href="https://webster.studio/")
            img(height="1em" src="https://webster.studio/webster_logo.svg" alt="Webster Studio")

